<nav
  class="navbar navbar-light navbar-expand-md bg-light justify-content-center fixed-top"
>
  <button
    class="navbar-toggler ml-1"
    type="button"
    data-toggle="collapse"
    data-target="#collapsingNavbar2"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="/" class="navbar-brand mr-0"
    ><img src="assets/logonew-removebg-preview.png" id="image"
  /></a>

  <div
    class="navbar-collapse collapse justify-content-center align-items-center w-100"
    id="collapsingNavbar2"
  >
    <ul class="navbar-nav mx-auto text-center">
      <li class="nav-item">
        <a class="nav-link" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section2">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section3">My projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section4">Resume</a>
      </li>
    </ul>
    <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://www.facebook.com/rebecka.thyssen/"
          target="_blank"
          ><i class="fa fa-facebook-square"></i
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://www.linkedin.com/in/rebeckathyssen"
          target="_blank"
          ><i class="fa fa-linkedin"></i
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://twitter.com/RebeckaThyssen"
          target="_blank"
          ><i class="fa fa-twitter"></i
        ></a>
      </li>
    </ul>
  </div>
</nav>

<div id="home">
  <app-home></app-home>
</div>
<div id="section2">
  <app-about-me></app-about-me>
</div>
<div id="section3">
  <router-outlet></router-outlet>
</div>
<div id="section4">
  <!--<app-resume></app-resume>-->
</div>

<app-testcomp></app-testcomp>
