button {
  background-color: #ff6b35;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 20px;
  border-color: transparent;
}

button:hover {
  background-color: #bedcf3;
  color: black;
  border-color: transparent;
}
